#banner{	
	text-align: center;
	font-family: 'Sans-Serif', 'Helvetica';	
	background-color: #f79711	
}
#linkTable{
	border: 0pt;	
	border-spacing: 10pt;
}
#footer{
	text-align: center;
}
a {
	color: black;
}
a:visited{
	color: red;
}
a:hover{
	font-weight: bold;
}
a:active{
	text-decoration: none;
}